$color_blue: #2023AA;

body{
    margin:0 auto;
    padding: 3%;
}
h2{
    color: $color_blue;
}
p, ul {
    color: $color_blue;
}
.contact{
    float: right;
}

.id{
    float: left;
}

.id_image{
    @extend .id;
    margin:0 0 0 30%;
}
.imag_attribute{
    height: 100px;
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;
}

li {
    img{
        height: 20px;
        width: 20px; 
    }
    a{
      text-decoration: initial;
    }
}

header{
    border-bottom: 1px solid black;
    overflow: hidden; 
}

.education{
    @extend .id;
    width: 45%;
}
.skills{
    @extend .contact;
    width: 45%;
}
.sign{
    border-left: 2px solid black;
}